<h1>地域コード一覧表</h1>
<% if ! @jsonData.nil? %>
<ul>
  <% large_class = @jsonData["Body"]["GetAreaClassInfo"]["largeClass"] %>
  <li>
    <%= large_class["largeClassName"] %> : <%= large_class["largeClassCode"] %>
    <% large_class["middleClass"].each do |middle_class| %>
    <ul>
      <li>
	<%= middle_class["middleClassName"] %> : <%= middle_class["middleClassCode"]%>
        <ul>
	  <% middle_class["smallClass"].each do |small_class| %>
	  <li>
	    <%= small_class["smallClassName"] %> : <%= small_class["smallClassCode"] %>
	    <% if small_class["detailClass"] != nil %>
	    <ul>
	      <% small_class["detailClass"].each do |detail_class| %>
	      <li>
		<%= detail_class["detailClassName"] %> : <%= detail_class["detailClassCode"] %>
	      </li>
	      <% end %>
	    </ul>
	    <% end %>
	  </li>
	  <% end %>
	</ul>
      </li>
    </ul>
  </li>
  <% end %>
 
</ul>
<% end %>
